<div class="ui inverted segment" style="border-radius: 0px; background-color: #113151;">
  <div class="ui inverted secondary pointing menu">
      
    <a class="item <%= path=='/'?'active':'' %>" href="/"> Home </a>
    <a class="item <%= path=='/add-service'?'active':'' %>" href="/add-service"> Add Service </a>
    <a class="item <%= path=='/show-services'?'active':'' %>" href="/show-services"> Show Services </a>
    <a class="item <%= path=='/add-provider'?'active':'' %>" href="/add-provider"> Add Provider </a>
    <a class="item <%= path=='/show-providers'?'active':'' %>" href="/show-providers"> Show Providers </a>
    
   
  </div></div>